body{
    background: #ca2dc2;
  padding-top: 15px;
}
.main-section{
border:1px solid #138496;
background-color: #fff;
}
.list_atas{
background-color: #28A745;
height:150px;
}
.user-detail{
margin:-50px 0px 30px 0px;
}
.user-detail img{
height:100px;
width:100px;
}
.user-detail h5{
margin:15px 0px 5px 0px;
}
.list_bawah{
padding:15px 0px;
background-color: #28A745;
}
.user-social-detail a i{
color:#fff;
font-size:23px;
padding: 0px 5px;
}